<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.mp.awardforce" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>AwardForce</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*" />
<access origin="*.firebaseio.*" />
<access origin="https://auth.firebase.com" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <feature name="Keyboard">
        <param name="ios-package" onload="true" value="IonicKeyboard" />
    </feature>
    <feature name="Console">
        <param name="ios-package" value="CDVLogger" />
    </feature>
    <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>
    <gap:plugin name="org.apache.cordova.inappbrowser"  />
    <gap:plugin name="org.apache.cordova.statusbar"  />
    <gap:plugin name="org.apache.cordova.device"  />
    <feature name="PushPlugin">
      <param name="ios-package" value="PushPlugin" />
    </feature>
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
  
</widget>
