  <ion-modal-view>
  	<ion-header-bar>
	    <div class="bar bar-header bar-positive">
	      <button class="button " ng-click="closeModal()">cancel</button>	
		  <h1 class="title">Give Award</h1>
		</div>
	</ion-header-bar>
    <ion-content>

    	<div class="card">
		  <div class="item item-divider" style="text-align: center;">
		    <select style="width:65%;" ng-model="selectedContact" ng-options="contact.Name for contact in allContacts" required>
		    	<option value="">-------- choose contact -------</option>
		    </select><br>
		  </div>
		  <div class="item item-text-wrap" style="text-align: center;">
		    	<textarea ng-model="commentBody" placeholder="Comments" style="height:242px"></textarea>
		  </div>
		  <div class="item item-divider" style="text-align: center;">
		    <button class="button button-block button-positive" ng-click="submitAward(selectedContact,commentBody)">
			  Submit
			</button>
		  </div>
		</div>
    	
    </ion-content>
  </ion-modal-view>
