  <ion-modal-view>
  	<ion-header-bar>
	    <div class="bar bar-header bar-positive">
	    	<a style="color:white" class="button icon-left ion-close-round button-clear button-dark" ng-click="closeModal()"></a>	
		  <h1 class="title">Give Award</h1>
		</div>
	</ion-header-bar>
    <ion-content>

    	<div class="card">
		  <div class="item item-divider" style="text-align: center;">
		    <select style="width:100%;margin-bottom: 4%;" ng-hide="showContactList === false" ng-model="selectedContact" ng-options="contact.Name for contact in allContacts">
		    	<option value="">--choose contact-- </option>
		    </select>
		    <h2 ng-hide="showContactList != false">To : {{selContact.name}}</h2>
		    
		  </div>
		  <div class="item item-text-wrap" style="text-align: center;">
		    	<textarea ng-model="commentBody" placeholder="Comments" style="height:200px"></textarea>
		  </div>
		  <div class="item item-divider" style="text-align: center;">
		  	<div ng-show="isSubmitInProcess === true"><div class="ion-looping" style="margin-left:0%"></div></div>
		    <button ng-show="isSubmitInProcess === false" class="button button-block button-positive" ng-click="submitAward(selectedContact,commentBody)">
			  Submit
			</button>
		  </div>
		</div>
    	
    </ion-content>
  </ion-modal-view>
