<ion-view title="MP Awards">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
   <!--
	on-swipe-up directive handles swip up event to show next month
	on-swipe-down directive handles swip down event to show previous month
  -->
  <ion-content class="has-header pagebackground" >
  	<ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>	
  	<div style="position:relative">

	  	<div style="position:relative">
	  		<img class="firstmedal" ng-src="../img/rank.png"/>
	  		<span class="firstmedalnumber">1</span>
	  		<img class="winnerimage winner1image" ng-src="../img/{{Toppers[0].email}}.jpg" err-src="../img/blank.png"/>
	  		<span class="input-label winnername1">{{Toppers[0].name}}</span>
	  	</div>

	  	<div style="position:relative">
	  		<div style="display:inline-block; width:38%;margin-left: 10%;">
	  			<img  class="secondmedal" ng-src="../img/rank.png"/>
	  			<span class="secondmedalnumber">2</span>
	  			<img class="winnerimage winner2image"  ng-src="../img/{{Toppers[1].email}}.jpg" err-src="../img/blank.png"/>
	  			<span class="input-label winnername2">{{Toppers[1].name}}</span>
	  		</div>

	  		<div style="display:inline-block; width:49%">
	  			<img  class="thirdmedal" ng-src="../img/rank.png"/>
	  			<span class="thirdmedalnumber">3</span>
	  			<img class="winnerimage winner3image"  ng-src="../img/{{Toppers[2].email}}.jpg" err-src="../img/blank.png"/>
	  			<span class="input-label winnername3">{{Toppers[2].name}}</span>
	  		</div>

        <button class="button button-positive" ng-click="openModal()" style="margin-left: 23%;margin-top: 5%;width: 58%;">Give Award</button>
	
		</div>

  	<div>

  	<div>

  		<div ng-repeat="feed in Feeds" class="feedblock card">

  			<table width="100%">
  				<tr>
  					<td style="width:20%;height:62px;">
              <img class="feedimage" ng-src="../img/{{feed.Giver__r.Email}}.jpg" err-src="../img/blank.png"/>
  					</td>
  					<td style="vertical-align: middle;width:70%">
  						<div class="feedtitle"><b>{{feed.Giver__r.Name}}</b> awarded <b>{{feed.Taker__r.Name}}</b></div>
  					</td>
  				</tr>

  				<tr>
	  				<td  colspan="2">
	  					<div class="feeddate">{{feed.CreatedDate | date:'dd/MM/yyyy HH:mm:ss'}}</div>
	  				</td>
  				</tr>

  				<tr>
  					<td colspan="2">
  						<div class="feeddescription">{{feed.Feed_Body__c}}</div>
  					</td>
  				</tr>

  				<tr>
  					<td colspan="2">
  						<div class="feedlikesandcomments">{{LikesCounterMap[feed.Id]}} Likes      {{CommentsCounterMap[feed.Id]}} Comments</div>
            
  					</td>
  				</tr>

  			</table>

  			<div style="padding-left:1%;padding-bottom:1%">
  				<button style="width:49%" class="button icon-left ion-thumbsup" ng-class="{'button-positive' : LikesMap[feed.Id] === 'Unlike' || LikesMap[feed.Id] === 'Unliking..', 'button-light' : LikesMap[feed.Id] === 'Like'}" ng-click="likeButtonPressed(feed.Id)">{{LikesMap[feed.Id]}}</button>
  				<button style="width:49%" class="button button-light icon-left ion-ios7-chatboxes-outline" ng-click="addComments(feed.Id)">Comment</button>
  			</div>

        <div class="item item-input-inset" style="margin-left:1%;margin-top:1%;margin-right:1%;margin-bottom:1%" ng-show="CommentsMap[feed.Id] === 'show' || CommentsMap[feed.Id] === 'processing'">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Enter your comment here" ng-model="comment">
          </label>
          <button class="button button-small" ng-click="submitComment(feed.Id,comment)" ng-hide="CommentsMap[feed.Id] === 'processing'">
            Submit
          </button><div class="ion-loading-b" ng-show="CommentsMap[feed.Id] === 'processing'"></div>
        </div>
  			
  		</div>

  	</div>

  </ion-content>

</ion-view>