<ion-view title="MP Awards">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
   <!--
	on-swipe-up directive handles swip up event to show next month
	on-swipe-down directive handles swip down event to show previous month
  -->
  <ion-content class="has-header pagebackground" >
  	<ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>	


  	<div style="position:relative">
    <div ng-show="toppersLoaded === false"  style="margin-top:25%;margin-left:50%"><div class="ion-looping" style="margin-left:0%"></div></div>
    <div ng-show="toppersLoaded === true">
	  	<div style="position:relative">
	  		<img class="firstmedal" ng-src="./img/rank.png"/>
	  		<span class="firstmedalnumber">1</span>
	  		<a ng-href="#/app/contact?sfdcId={{Toppers[0].Id}}"><img class="winnerimage winner1image" ng-src="{{Toppers[0].imageurl === null ? './img/blank.png' : Toppers[0].imageurl}}" err-src="./img/blank.png"/></a>
	  		<span class="input-label winnername1"><strong>{{Toppers[0].name != null ? Toppers[0].name : '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?'}}</strong></span>
	  	</div>

	  	<div style="position:relative">
	  		<div style="display:inline-block; width:40%;margin-left: 10%;">
	  			<img  class="secondmedal" ng-src="./img/rank.png"/>
	  			<span class="secondmedalnumber">2</span>
	  			<a ng-href="#/app/contact?sfdcId={{Toppers[1].Id}}"><img class="winnerimage winner2image"  ng-src="{{Toppers[1].imageurl === null ? './img/blank.png' : Toppers[1].imageurl}}" err-src="./img/blank.png"/></a>
	  			<span class="input-label winnername2"><strong>{{Toppers[1].name != null ? Toppers[1].name : '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?'}}</strong></span>
	  		</div>

	  		<div style="display:inline-block; width:48%">
	  			<img  class="thirdmedal" ng-src="./img/rank.png"/>
	  			<span class="thirdmedalnumber">3</span>
	  			<a ng-href="#/app/contact?sfdcId={{Toppers[2].Id}}"><img class="winnerimage winner3image"  ng-src="{{Toppers[2].imageurl === null ? './img/blank.png' : Toppers[2].imageurl}}" err-src="./img/blank.png"/><br/></a>
	  			<span class="input-label winnername3"><strong>{{Toppers[2].name != null ? Toppers[2].name : '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?'}}</strong></span>
	  		</div>

       </div>
	
		</div>

     <button class="button button-positive awardButton" ng-click="openModal()">Give Award</button>

  	<div>

  	<div>

  		<div ng-repeat="feed in Feeds" class="feedblock card">

  			<table width="100%">
  				<tr>
  					<td style="width:20%;height:62px;">
              <img class="feedimage" ng-src="{{feed.Giver__r.Image_URL__c}}" err-src="./img/blank.png"/>{{feed.Giver__r.Image_Url__c}}
  					</td>
  					<td style="vertical-align: middle;width:70%">
  						<div class="feedtitle"><a ng-href="#/app/contact?sfdcId={{feed.Giver__r.Id}}"><b>{{feed.Giver__r.Name}}</b></a> awarded <a ng-href="#/app/contact?sfdcId={{feed.Taker__r.Id}}"><b>{{feed.Taker__r.Name}}</b></a></div>
  					</td>
  				</tr>

  				<tr>
  					<td colspan="2">
  						<div class="feeddescription">{{feed.Feed_Body__c}}</div>
  					</td>
  				</tr>

  				<tr>
  					<td colspan="2" style="padding-bottom: 4%;">
  						<span class="feedlikesandcomments">{{LikesCounterMap[feed.Id]}} Likes      {{CommentsCounterMap[feed.Id]}} Comments </span> 
              <span class="feeddate" style="padding-left: 20%%;margin-bottom: 14%;">{{feed.CreatedDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
            
  					</td>
  				</tr>

  			</table>

  			<div style="padding-left:1%;padding-bottom:1%">
  				<button style="width:49%" class="button icon-left ion-thumbsup" ng-class="{'button-positive' : LikesMap[feed.Id] === 'Unlike' || LikesMap[feed.Id] === 'Unliking..', 'button-light' : LikesMap[feed.Id] === 'Like'}" ng-click="likeButtonPressed(feed.Id)">{{LikesMap[feed.Id]}}</button>
  				<button style="width:49%" class="button button-light icon-left ion-ios7-chatboxes-outline" ng-click="addComments(feed.Id)">Comment</button>
  			</div>

        <div class="item item-input-inset" style="margin-left:1%;margin-top:1%;margin-right:1%;margin-bottom:1%" ng-show="CommentsMap[feed.Id] === 'show' || CommentsMap[feed.Id] === 'processing'">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Enter your comment here" ng-model="comment">
          </label>
          <button class="button button-small" ng-click="submitComment(feed.Id,comment)" ng-hide="CommentsMap[feed.Id] === 'processing'">
            Submit
          </button><div class="ion-loading-b" ng-show="CommentsMap[feed.Id] === 'processing'"></div>
        </div>
  			
  		</div>

  	</div>

  </ion-content>

</ion-view>