

<ion-view title="Award Force">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header pagebackground" >
  	
  	
  	<div ng-show="loggedInCheck === false"  style="margin-left: 9%;margin-top: 52%;width:100%">
  		<div style="margin-left:40%" class="ion-loading-b"></div>
  	</div>
  	<div ng-show="loggedInCheck === true"> 
	  	<div style="margin-top: 52%;width:100%"><span style="color: #4a87ee;"> 
	  		<div style="margin-top: 10%;width:100%">

				
			  <button class="button button-positive awardButton" ng-click="login()">Login using Facebook</button>
			  
			  
			</div>
	  	</div>

	</div>

  </ion-content>

</ion-view>


