<ion-view title="{{UserInfo.name}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header pagebackground" >
  	

  	<div class="list card">


	  <div class="item item-image">
	    <img  ng-src="../img/{{UserInfo.email}}.jpg" err-src="../img/blank.png"/>
	  </div>

	</div>
	<br/>
	
	<button style="width:100%;text-align:center" class="button button-clear button-positive">
	  Edit Image
	</button>

  </ion-content>

</ion-view>