/* Empty. Add your own CSS if you like */
.winnerimage{
	border: 1px;
	border-radius: 10%;
	width: 20%;
}

.winner1image{
	margin-left: 35%;
	margin-top: 5%;
}

.winner2image{
	width: 50%;
	margin-left: 17%;
	margin-top: 0%;
}

.winner3image{
	width: 41% !important;
	margin-left: 5%;
	margin-top: 5%;
}

.winnername1{
	width: 30%;
	font-size: 12px;
	margin-left: 35%;
	text-align: left;
}

.winnername2{
	width: 75%;
	text-align: left;
	font-size: 12px;
	margin-left: 17%;
}

.winnername3 {
	width: 67%;
	text-align: left;
	font-size: 12px;
	margin-left: 3%;
}

.firstmedal{
	position: absolute;
	width: 7%;
	left: 51%;
	top: 5%;
}

.secondmedal{
	position: absolute;
	width: 7%;
	left: 33%;
}

.thirdmedal{
	position: absolute;
	width: 7%;
	left: 70%;
	top: 51%;
}

.firstmedalnumber{
	position: absolute;
	left: 54%;
	top: 6%;
	font-weight: bold;
	color: crimson;
}

.secondmedalnumber{
	position: absolute;
	left: 36%;
	top: 53%;
	font-weight: bold;
	color: crimson;
}

.thirdmedalnumber{
	position: absolute;
	left: 73%;
	top: 52%;
	font-weight: bold;
	color: crimson;
}

